body {
background-color: CornflowerBlue;
}

.search-column h2 {
color: blanchedalmond;
}

.search-column {
    background-color: cornflowerblue;
}

.list-group-item {
    line-height: 0.5;
    border: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: blanchedalmond;
    background-color: cornflowerblue;
}
.card-body {
    flex:auto;
    background-color: powderblue;
    color:Blue;
    font-weight: bold;
}

span.warning {
    padding: 3px;
    background-color: black;
    color:white;
}

span.middle {
    padding: 3px;
    background-color: red;
    color: white;
}

span.lovely {
    padding: 3px;
    background-color: lightgreen;
    color:white;
}
